<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <title>COVID Infection Probability</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Risk-O-Meter</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link disabled"
              href="#"
              tabindex="-1"
              aria-disabled="true"
              >Alert!</a
            >
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input
            class="form-control mr-sm-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">
            Search
          </button>
        </form>
      </div>
    </nav>

    <div class="container jumbotron mt-4">
      <h2 class="mt-4 text-center display-4">CoVID-19 Infection Estimator</h2>
    </div>

    <div class="container">
      <form method="POST">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            class="form-control"
            id="name"
            placeholder="Enter your full name"
          />
        </div>
        <div class="form-group">
          <label>Age</label>
          <input class="form-control" name="age" placeholder="Enter your age" />
        </div>
        <div class="form-group">
          <label for="temperature">Temperature (in Celsius)</label>
          <input
            class="form-control"
            id="temperature"
            placeholder="Your Body Temperature"
            name="temperature"
          />
        </div>

        <div class="container my-4">
          <div class="row">
            <div class="col-4">
              Do you have Cough?
            </div>
            <div class="col-1">
              <div class="custom-control custom-radio custom-control-inline">
                <input
                  class="custom-control-input"
                  type="radio"
                  name="cough"
                  id="cough1"
                  value="1"
                />
                <label class="custom-control-label" for="cough1">Yes</label>
              </div>
            </div>
            <div class="col-1">
              <div class="custom-control custom-radio custom-control-inline">
                <input
                  class="custom-control-input"
                  type="radio"
                  name="cough"
                  id="cough2"
                  value="0"
                />
                <label class="custom-control-label" for="cough2">No</label>
              </div>
            </div>
          </div>
        </div>

        <div class="container my-4">
          <div class="row">
            <div class="col-4">
              Do you have Headache?
            </div>
            <div class="col-1">
              <div class="custom-control custom-radio custom-control-inline">
                <input
                  class="custom-control-input"
                  type="radio"
                  name="headache"
                  id="headache1"
                  value="1"
                />
                <label class="custom-control-label" for="headache1">Yes</label>
              </div>
            </div>
            <div class="col-1">
              <div class="custom-control custom-radio custom-control-inline">
                <input
                  class="custom-control-input"
                  type="radio"
                  name="headache"
                  id="headache2"
                  value="0"
                />
                <label class="custom-control-label" for="headache2">No</label>
              </div>
            </div>
          </div>
        </div>

        <div class="container my-4">
          <div class="row">
            <div class="col-4">
              Do you have Bodypains?
            </div>
            <div class="col-1">
              <div class="custom-control custom-radio custom-control-inline">
                <input
                  class="custom-control-input"
                  type="radio"
                  name="bodypain"
                  id="bodypain1"
                  value="1"
                />
                <label class="custom-control-label" for="bodypain1">Yes</label>
              </div>
            </div>
            <div class="col-1">
              <div class="custom-control custom-radio custom-control-inline">
                <input
                  class="custom-control-input"
                  type="radio"
                  name="bodypain"
                  id="bodypain2"
                  value="0"
                />
                <label class="custom-control-label" for="bodypain2">No</label>
              </div>
            </div>
          </div>
        </div>

        <div class="container my-4">
          <div class="row">
            <div class="col-4">
              How severe is your shortness of Breath?
            </div>
            <div class="col-1">
              <div class="custom-control custom-radio custom-control-inline">
                <input
                  class="custom-control-input"
                  type="radio"
                  name="breath"
                  id="breath1"
                  value="1"
                />
                <label class="custom-control-label" for="breath1">None</label>
              </div>
            </div>
            <div class="col-1">
              <div class="custom-control custom-radio custom-control-inline">
                <input
                  class="custom-control-input"
                  type="radio"
                  name="breath"
                  id="breath2"
                  value="2"
                />
                <label class="custom-control-label" for="breath2">Mild</label>
              </div>
            </div>
            <div class="col-1">
              <div class="custom-control custom-radio custom-control-inline">
                <input
                  class="custom-control-input"
                  type="radio"
                  name="breath"
                  id="breath3"
                  value="3"
                />
                <label class="custom-control-label" for="breath3"
                  >Unbreathable</label
                >
              </div>
            </div>
          </div>
        </div>

        <button class="btn btn-primary my-2">Submit</button>
      </form>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
